<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>管理员查看成果信息详情</title>

    <!-- Favicons -->
    <link href="/templates/Dashio/img/favicon.png" rel="icon">
    <link href="/templates/Dashio/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap core CSS -->
    <link href="/templates/Dashio/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="/templates/Dashio/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/templates/Dashio/lib/bootstrap-datepicker/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="/templates/Dashio/lib/bootstrap-daterangepicker/daterangepicker.css" />
    <!-- Custom styles for this template -->
    <link href="/templates/Dashio/css/style.css" rel="stylesheet">
    <link href="/templates/Dashio/css/style-responsive.css" rel="stylesheet">

    <!-- =======================================================
      Template Name: Dashio
      Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
      Author: TemplateMag.com
      License: https://templatemag.com/license/
    ======================================================= -->
</head>

<body>
<section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    {% include 'Dashio/common_header.html' %}
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
        {% include 'Dashio/nav.html' %}
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i> 查看学者详情</h3>
            <!-- BASIC FORM ELELEMNTS -->
            <div class="row mt">
                <div class="col-lg-12">
                    <div class="form-panel">
                        <h4 class="mb"><i class="fa fa-angle-right"></i> 学者信息</h4>
                        <form class="form-horizontal style-form" method="post" action="">
                            <!--                        <form class="contact-form php-mail-form" role="form">-->
                            <!--                            <form method="post" action="">-->
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">用户ID</label>
                                <div class="col-sm-10">
                                    <h5>{{check_sch.sch_info.user_id}}</h5>
                                    <!--                                    <input type="text" class="form-control" name="d_id" id="d_id" placeholder="院系ID(4位数字串，eg.0000)" data-rule="minlength:4" data-msg="请输入正确4位院系ID" minlength="4" required="required">-->
                                    <!--                                    <input type="text" class="form-control" name="d_id" id="d_id" value="{{edit_dep.dep_info.d_id}}" required="required" autofocus>-->
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">学者ID</label>
                                <div class="col-sm-10">
                                    <h5>{{check_sch.sch_info.scholar_id}}</h5>
                                    <!--                                    <input type="text" class="form-control" name="d_id" id="d_id" placeholder="院系ID(4位数字串，eg.0000)" data-rule="minlength:4" data-msg="请输入正确4位院系ID" minlength="4" required="required">-->
                                    <!--                                    <input type="text" class="form-control" name="d_id" id="d_id" value="{{edit_dep.dep_info.d_id}}" required="required" autofocus>-->
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">学者姓名</label>
                                <div class="col-sm-10">
                                    <h5>{{check_sch.sch_info.name}}</h5>
                                    <!--                                    <input type="text" class="form-control" name="d_name" id="d_name" placeholder="院系名称" data-rule="required" data-msg="请输入正确院系名称" required="required">-->
                                    <!--                                    <input type="text" class="form-control" name="d_name" id="d_name" value="{{edit_dep.dep_info.name}}" required="required">-->
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">学校</label>
                                <div class="col-sm-10">
                                    <h5>{{check_sch.sch_info.school}}</h5>
                                    <!--                                    <input type="text" class="form-control" name="d_name" id="d_name" placeholder="院系名称" data-rule="required" data-msg="请输入正确院系名称" required="required">-->
                                    <!--                                    <input type="text" class="form-control" name="d_name" id="d_name" value="{{edit_dep.dep_info.name}}" required="required">-->
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">学院</label>
                                <div class="col-sm-10">
                                    {% if not check_sch.department == -1 %}
                                    <h5>{{check_sch.department}}</h5>
                                    {% else %}
                                    <h5>暂无信息</h5>
                                    {% endif %}
                                    <!--                                    <input type="text" class="form-control" name="d_name" id="d_name" placeholder="院系名称" data-rule="required" data-msg="请输入正确院系名称" required="required">-->
                                    <!--                                    <input type="text" class="form-control" name="d_name" id="d_name" value="{{edit_dep.dep_info.name}}" required="required">-->
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">学者工号</label>
                                <div class="col-sm-10">
                                    <h5>{{check_sch.sch_info.Scholar_Number}}</h5>
                                    <!--                                    <input type="text" class="form-control" name="d_name" id="d_name" placeholder="院系名称" data-rule="required" data-msg="请输入正确院系名称" required="required">-->
                                    <!--                                    <input type="text" class="form-control" name="d_name" id="d_name" value="{{edit_dep.dep_info.name}}" required="required">-->
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">邮箱</label>
                                <div class="col-sm-10">
                                    <h5>{{check_sch.sch_info.email}}</h5>
                                    <!--                                    <input type="text" class="form-control" name="d_name" id="d_name" placeholder="院系名称" data-rule="required" data-msg="请输入正确院系名称" required="required">-->
                                    <!--                                    <input type="text" class="form-control" name="d_name" id="d_name" value="{{edit_dep.dep_info.name}}" required="required">-->
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">职称</label>
                                <div class="col-sm-10">
                                    {% if not check_sch.sch_info.p_title == "default" %}
                                    <h5>{{check_sch.sch_info.p_title}}</h5>
                                    {% else %}
                                    <h5>暂无信息</h5>
                                    {% endif %}
<!--                                    <h5>{{check_sch.sch_info.p_title}}</h5>-->
                                    <!--                                    <input type="text" class="form-control" name="d_name" id="d_name" placeholder="院系名称" data-rule="required" data-msg="请输入正确院系名称" required="required">-->
                                    <!--                                    <input type="text" class="form-control" name="d_name" id="d_name" value="{{edit_dep.dep_info.name}}" required="required">-->
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">简介</label>
                                <div class="col-sm-10">
                                    <h5>{{check_sch.brief}}</h5>
                                    <!--                                    <input type="text" class="form-control" name="d_name" id="d_name" placeholder="院系名称" data-rule="required" data-msg="请输入正确院系名称" required="required">-->
                                    <!--                                    <input type="text" class="form-control" name="d_name" id="d_name" value="{{edit_dep.dep_info.name}}" required="required">-->
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">查看学者的相关成果</label>
                                <div class="col-sm-10">
                                    <a href="/scholar_achiev/{{check_sch.sch_info.scholar_id}}" class="btn btn-theme">查看相关成果</a>
                                    <!--                                    <input type="text" class="form-control" name="d_name" id="d_name" placeholder="院系名称" data-rule="required" data-msg="请输入正确院系名称" required="required">-->
                                    <!--                                    <input type="text" class="form-control" name="d_name" id="d_name" value="{{edit_dep.dep_info.name}}" required="required">-->
                                </div>
                            </div>
                            <!--                            <div class="loading"></div>-->
                            <!--                            <div class="error-message"></div>-->
                            <!--                            <div class="sent-message">添加请求已收到</div>-->

                            <div class="form-send">
<!--                                <a href="/scholar" class="btn btn-theme">返回</a>-->
                                <a href="/last_page" class="btn btn-theme">返回</a>
                            </div>
                            <!--                        </form>-->
                        </form>


                        <!--                        {% if edit_dep.err_msg %}-->
                        <!--                        <script>-->
                        <!--                            alert('{{ edit_dep.err_msg }}');-->
                        <!--                        </script>-->
                        <!--                        {% endif %}-->
                        <!--                        </form>-->
                    </div>
                </div>
                <!-- col-lg-12-->
            </div>
            {% if check_sch.err_msg %}
            <script>
                alert('{{ check_sch.err_msg }}');
            </script>
            {% endif %}
            <!-- /row -->
            <!--            <div class="row mt">-->
            <!--                <div class="col-lg-6 col-md-6 col-sm-6">-->
            <!--                    <h4 class="title">Contact Form</h4>-->
            <!--                    <div id="message"></div>-->
            <!--                    <form action="" method="POST">-->

            <!--                        <div class="form-group">-->
            <!--                            <input type="text" class="form-control" name="d_id" id="d_id" placeholder="院系ID(4位数字串，eg.0000)" required="required" autofocus>-->
            <!--                            <div class="validate"></div>-->
            <!--                        </div>-->
            <!--                        <div class="form-group">-->
            <!--                            <input type="text" class="form-control" name="d_name" id="d_name1" placeholder="院系名称" required="required">-->
            <!--                            <div class="validate"></div>-->
            <!--                        </div>-->
            <!--                        <div class="form-group">-->
            <!--                            <textarea class="form-control" name="brief_info" id="brief_info1" placeholder="院系简介" rows="3" required="required"></textarea>-->
            <!--                            <div class="validate"></div>-->
            <!--                        </div>-->

            <!--&lt;!&ndash;                        <div class="loading"></div>&ndash;&gt;-->
            <!--&lt;!&ndash;                        <div class="error-message"></div>&ndash;&gt;-->
            <!--&lt;!&ndash;                        <div class="sent-message">Your message has been sent. Thank you!</div>&ndash;&gt;-->

            <!--                        <div class="form-send">-->
            <!--                            <button type="submit" class="btn btn-large btn-primary">Send Message</button>-->
            <!--                        </div>-->

            <!--                    </form>-->
            <!--                </div>-->
            <!-- /row -->
        </section>


        <!--main content end-->
        <!--    footer start-->
        <!--    <footer class="site-footer">-->
        <!--      <div class="text-center">-->
        <!--        <p>-->
        <!--          &copy; Copyrights <strong>Dashio</strong>. All Rights Reserved-->
        <!--        </p>-->
        <!--        <div class="credits">-->
        <!--          &lt;!&ndash;-->
        <!--            You are NOT allowed to delete the credit link to TemplateMag with free version.-->
        <!--            You can delete the credit link only if you bought the pro version.-->
        <!--            Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/dashio-bootstrap-admin-template/-->
        <!--            Licensing information: https://templatemag.com/license/-->
        <!--          &ndash;&gt;-->
        <!--          Created with Dashio template by <a href="https://templatemag.com/">TemplateMag</a>-->
        <!--        </div>-->
        <!--        <a href="index.html#" class="go-top">-->
        <!--          <i class="fa fa-angle-up"></i>-->
        <!--          </a>-->
        <!--      </div>-->
        <!--    </footer>-->
        <!--footer end-->
    </section>
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/templates/Dashio/lib/jquery/jquery.min.js"></script>
    <script src="/templates/Dashio/lib/bootstrap/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="/templates/Dashio/lib/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/templates/Dashio/lib/jquery.scrollTo.min.js"></script>
    <script src="/templates/Dashio/lib/jquery.nicescroll.js" type="text/javascript"></script>
    <!--common script for all pages-->
    <script src="/templates/Dashio/lib/common-scripts.js"></script>
    <!--script for this page-->
    <script src="/templates/Dashio/lib/jquery-ui-1.9.2.custom.min.js"></script>
    <!--custom switch-->
    <script src="/templates/Dashio/lib/bootstrap-switch.js"></script>
    <!--custom tagsinput-->
    <script src="/templates/Dashio/lib/jquery.tagsinput.js"></script>
    <!--custom checkbox & radio-->
    <script type="text/javascript" src="/templates/Dashio/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/templates/Dashio/lib/bootstrap-daterangepicker/date.js"></script>
    <script type="text/javascript" src="/templates/Dashio/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="/templates/Dashio/lib/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>
    <script src="/templates/Dashio/lib/form-component.js"></script>
    <script src="/templates/Dashio/lib/php-mail-form/validate.js"></script>


</body>

</html>
